.content-aviso {
    height: 100px!important;
}

.home-link {
    padding-top: 40px;
    padding-left: 1000px;
    color: white;
}

.font-aviso {
    padding-top: 30px;
    font-size: 19px;
    font-family: 'Raleway';
    font-weight: 600;
    text-align: justify;
    padding-bottom: 40px;
}

@media (max-width: 523px) {
    .home-link {
        padding-top: 20px;
        padding-left: 169px;
    }
    .font-aviso {
        font-size: 8px;
    }
    .footer-a {
        font-size: 15px;
    }
    .footer-a:hover {
        font-size: 15px;
    }
    .footer-a-2 {
        font-size: 15px;
    }
    .footer-a-2:hover {
        font-size: 15px;
    }
}

@media (min-width:523px) and (max-width: 768px) {
    .home-link {
        padding-left: 546PX;
    }
    .font-aviso {
        padding-top: 30px;
        font-size: 10px;
    }
}