        /* Start estilos */
        
        body {
            overflow-x: hidden;
        }
        /* 
@font-face {
    font-family: "Raleway-bold";
    src: url(/assets/fonts/Raleway/static/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway-medium";
    src: url(/assets/fonts/Raleway/static/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Raleway-regular";
    src: url(/assets/fonts/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway-light";
    src: url(/assets/fonts/Raleway/static/Raleway-Light.ttf);
} */
        /*all-sections*/
        /*Flecha para hacer la pagina hacia arriba*/
        
        .ir-arriba {
            background-repeat: no-repeat;
            font-size: 20px;
            color: black;
            cursor: pointer;
            position: fixed;
            bottom: 10px;
            right: 76px;
            z-index: 2;
        }
        
        .ir-arriba:hover {
            color: black;
        }
        
        .home {
            margin-bottom: 80px;
        }
        
        .beneficios {
            margin-bottom: 183px;
            margin-top: 100px;
        }
        
        .content-registra {
            margin-bottom: 76px;
        }
        
        .etiquetas {
            margin-bottom: 80px;
        }
        
        .funciones {
            margin-bottom: 80px;
        }
        
        .content-form {
            margin-bottom: 150px;
        }
        
        .content-bienvenida-1 {
            margin-left: 20px;
            padding-left: 20px;
        }
        
        .content-grals {
            margin-left: 0px;
            padding-left: 0px;
        }
        /*Nav*/
        
        .nav-link {
            color: black;
            font-size: 24px;
            font-family: 'Raleway';
            font-weight: 600;
        }
        
        .nav-link:hover {
            color: red;
            font-size: 24px;
        }
        
        .link-sesion {
            color: red!important;
        }
        
        .link-sesion:hover {
            color: black!important;
        }
        
        .navbar-brand {
            margin-right: 1rem!important;
            ;
        }
        
        .navbar-nav {
            margin-bottom: 38px;
        }
        /*styles grals*/
        
        h1 {
            font-size: 53px;
            color: rgb(0, 0, 0);
            font-weight: 800;
            font-family: 'Raleway', sans-serif;
            margin-bottom: 0px;
            padding-bottom: 0px;
            padding-left: 20px;
        }
        
        .font-gral {
            font-size: 19px;
            font-family: 'Raleway';
            font-weight: 600;
        }
        /*footer*/
        
        .footer {
            left: 0;
            bottom: 0;
            background-color: rgb(219, 219, 219);
            color: rgb(0, 0, 0);
        }
        /*Section- start now*/
        
        .img-principal {
            max-width: 100%;
            height: 408px;
            width: 706px;
        }
        
        .content-bienvenida {
            width: 500px;
            display: inline-block;
            margin-top: 93px;
        }
        
        .text-principal {
            font-size: 45px;
            color: rgb(0, 0, 0);
            font-weight: 800;
            font-family: 'Raleway';
            padding-left: 0px;
        }
        
        .content-bienvenida-2 {
            float: right;
            display: inline-block;
            height: 444px;
            width: 604px;
            background-image: url("../img/imagen-1.png");
            background-position: center center;
            background-size: cover;
        }
        
        .sub-title-principal {
            font-size: 20px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-family: 'Raleway';
        }
        
        .principal-boton {
            border-radius: 20px;
            background-color: rgb(200, 19, 9);
            color: white;
            font-size: 38px;
            font-weight: 600;
            padding-top: 20px;
            padding-bottom: 22px;
            padding-right: 20px;
            padding-left: 20px;
            font-family: 'Raleway';
        }
        
        .principal-boton:hover {
            background-color: rgb(179, 63, 56);
            color: white;
            font-size: 38px;
        }
        /*Section- Beneficios*/
        
        .icono-1 {
            width: 117px;
            height: 117px;
            background-image: url(../img/icono-1.png);
            float: left;
            margin-left: 20px;
            margin-right: 20px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .icono-2 {
            width: 117px;
            height: 117px;
            background-image: url(../img/icono-2.png);
            float: left;
            margin-left: 20px;
            margin-right: 20px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .icono-3 {
            width: 117px;
            height: 117px;
            background-image: url(../img/icono-3.png);
            float: left;
            margin-left: 20px;
            margin-right: 20px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .icono-4 {
            width: 117px;
            height: 117px;
            background-image: url(../img/icono-4.png);
            float: left;
            margin-left: 20px;
            margin-right: 20px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .icono-5 {
            width: 117px;
            height: 117px;
            background-image: url(../img/icono-5.png);
            float: left;
            margin-left: 20px;
            margin-right: 20px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .icono-6 {
            width: 117px;
            height: 117px;
            background-image: url(../img/icono-6.png);
            float: left;
            margin-left: 20px;
            margin-right: 20px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .text-ico-1 {
            font-size: 19px;
            font-family: 'Raleway';
            font-weight: 500;
        }
        /*Section- TITLE REGISTRA MOVIMIENTOS*/
        
        .content-title-registra {
            margin-top: 90PX;
            margin-bottom: 60px;
        }
        /*Section- REGISTRA MOVIMIENTOS*/
        
        .img-movil {
            float: left;
            padding-left: 0PX;
        }
        
        .content-text {
            margin-top: 22px;
        }
        /*Section-ETIQUETA*/
        
        .content-text-etiquetas {
            padding-top: 80PX;
        }
        /*section-funciones*/
        
        .funciones-p {
            margin-top: 50px;
        }
        /*FORM STYLES*/
        
        .content-form.container.row>p {
            font-size: 19px;
            font-family: 'Raleway';
            font-weight: 500;
        }
        
        .div-form {
            width: 477px;
            float: left;
            padding-left: 0px;
        }
        
        .font-form {
            font-weight: 700;
            font-size: 22px;
            font-family: 'Raleway';
            color: rgb(109, 108, 108);
        }
        
        .input-form {
            background-color: #d8d7d7!important;
            border-radius: 0px!important;
        }
        
        .btn-registro {
            border-radius: 20px;
            background-color: rgb(200, 19, 9);
            color: white;
            font-size: 38px;
            font-weight: 600;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            padding-left: 20px;
            font-family: 'Raleway';
        }
        /*FOOTER STYLES*/
        
        .footer {
            background-color: rgb(197, 197, 197);
            padding-top: 43px;
            padding-bottom: 96px;
        }
        
        .footer-a {
            color: black;
            font-size: 20px;
            font-family: 'Raleway';
        }
        
        .footer-a:hover {
            color: black;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Raleway';
            text-decoration: none;
        }
        
        .footer-a-2 {
            color: black;
            font-size: 20px;
            font-family: 'Raleway';
        }
        /*comienzan mediaqueries*/
        
        @media only screen and (max-width: 426px) {
            .content-bienvenida {
                width: auto;
                margin-top: 5px;
                padding-bottom: 31px;
            }
            .content-bienvenida-1 {
                margin-left: 2px;
                padding-left: 2px;
            }
            .content-bienvenida-2 {
                float: none;
                display: inline-block;
                height: 197px;
                width: 295px;
                background-position: center center;
                background-size: cover;
            }
            .text-principal {
                font-size: 24px;
            }
            .text-ico-1 {
                font-size: 15px;
            }
            .sub-title-principal {
                font-size: 20px;
                text-align: center;
            }
            .principal-boton {
                font-size: 24px;
                font-weight: 600;
                padding-top: 12px;
                padding-bottom: 12px;
            }
            h1 {
                text-align: center;
                font-size: 23px;
                padding-left: 0px;
            }
            .div-form {
                width: 267px;
                float: none;
                padding-left: 20px;
                padding-right: 20px;
            }
            .content-grals {
                margin-left: 2px;
                padding-left: 2px;
            }
            .font-gral {
                font-size: 15px;
            }
            .content-text-etiquetas {
                padding-top: 28PX;
            }
            .btn-registro {
                border-radius: 20px;
                background-color: rgb(200, 19, 9);
                color: white;
                font-size: 24px;
                font-weight: 600;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 20px;
                padding-left: 20px;
                font-family: 'Raleway';
            }
            h2 {
                font-size: 22px;
            }
            .footer-a {
                font-size: 15px;
            }
            .footer-a-2 {
                font-size: 15px;
            }
        }
        /*Flecha para hacer la pagina hacia arriba*/