    /* Start estilos */
    
    body {
        overflow-x: hidden;
    }
    
    .container-principal {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .ir-arriba {
        background-repeat: no-repeat;
        font-size: 20px;
        color: black;
        cursor: pointer;
        position: fixed;
        bottom: 10px;
        right: 76px;
        z-index: 2;
    }
    
    .ir-arriba:hover {
        color: black;
    }
    
    .home {
        margin-bottom: 80px;
    }
    
    .introduccion {
        background-image: url("../img/almacen.png");
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }
    
    .introduccion-div {
        background-color: rgba(235, 30, 30, 0.911);
        padding-top: 90px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 40px;
        font-size: 22px;
        font-family: 'Raleway';
        font-weight: 600;
        color: rgb(230, 200, 198);
        margin-bottom: 80px;
        margin-top: 90px;
        text-align: center;
        height: 80%;
    }
    
    .beneficios {
        margin-bottom: 183px;
        margin-top: 100px;
    }
    
    .content-video {
        background-image: url(../img/background-video.png);
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }
    
    .content-registra {
        margin-bottom: 76px;
    }
    
    .etiquetas {
        Padding-bottom: 60px;
        background-image: url(../img/etiquetas-back.png);
        background-position: center center;
        background-size: cover;
        height: 100%;
        margin-bottom: 0px;
    }
    
    .funciones {
        margin-bottom: 80px;
        background-color: rgb(100, 98, 98);
        font-size: 19px;
        font-family: 'Raleway';
        font-weight: 600;
        color: white;
        padding-top: 0px;
    }
    
    .back-func {
        background-image: url(../img/imagen-second.png);
        background-position: center center;
        background-size: cover;
    }
    
    .content-form {
        margin-bottom: 150px;
    }
    
    .content-bienvenida-1 {
        margin-left: 20px;
        padding-left: 20px;
    }
    
    .content-grals {
        margin-left: 0px;
        padding-left: 0px;
    }
    /*Nav*/
    
    .nav-link {
        color: black;
        font-size: 20px;
        font-family: 'Raleway';
        font-weight: 600;
    }
    
    .nav-link:hover {
        color: #c11d10;
        font-size: 20px;
    }
    
    .link-sesion {
        background-color: #c11d10;
        width: 40px;
        height: 40px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-right: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .navbar-brand {
        margin-right: 12rem;
        ;
    }
    
    .navbar-nav {
        margin-bottom: 38px;
    }
    
    .solicita-btn-inicio {
        border-radius: 10px;
        background-color: #c11d10;
        color: white;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Raleway';
        text-align: center;
    }
    
    .solicita-btn-inicio:hover {
        border-radius: 10px;
        background-color: #242222;
        color: white;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Raleway';
    }
    /*styles grals*/
    
    h1 {
        font-size: 53px;
        color: rgb(0, 0, 0);
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-left: 20px;
    }
    
    .font-gral {
        font-size: 19px;
        font-family: 'Raleway';
        font-weight: 600;
    }
    /*footer*/
    
    .footer {
        left: 0;
        bottom: 0;
        background-color: rgb(20, 20, 20);
        color: rgb(255, 255, 255);
    }
    /*Section- start now*/
    
    .img-principal {
        max-width: 100%;
        height: 408px;
        width: 706px;
    }
    
    .content-bienvenida {
        width: 500px;
        display: inline-block;
        margin-top: 93px;
    }
    
    .text-principal {
        font-size: 45px;
        color: rgb(0, 0, 0);
        font-weight: 800;
        font-family: 'Raleway';
        padding-left: 0px;
    }
    
    .content-bienvenida-2 {
        float: right;
        display: inline-block;
        height: 444px;
        width: 604px;
        background-image: url("../img/imagen-1.png");
        background-position: center center;
        background-size: cover;
    }
    
    .sub-title-principal {
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-family: 'Raleway';
    }
    
    .principal-boton {
        border-radius: 20px;
        background-color: #c11d10;
        color: white;
        font-size: 38px;
        font-weight: 600;
        padding-top: 20px;
        padding-bottom: 22px;
        padding-right: 20px;
        padding-left: 20px;
        font-family: 'Raleway';
    }
    
    .principal-boton:hover {
        background-color: #c65846;
        color: white;
        font-size: 38px;
    }
    /*Section- Beneficios*/
    
    .icono-1 {
        width: 117px;
        height: 117px;
        background-image: url(../img/icono-1.png);
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .icono-2 {
        width: 117px;
        height: 117px;
        background-image: url(../img/icono-2.png);
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .icono-3 {
        width: 117px;
        height: 117px;
        background-image: url(../img/icono-3.png);
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .icono-4 {
        width: 117px;
        height: 117px;
        background-image: url(../img/icono-4.png);
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .icono-5 {
        width: 117px;
        height: 117px;
        background-image: url(../img/icono-5.png);
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .icono-6 {
        width: 117px;
        height: 117px;
        background-image: url(../img/icono-6.png);
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .text-ico-1 {
        font-size: 19px;
        font-family: 'Raleway';
        font-weight: 500;
    }
    /*Section- TITLE REGISTRA MOVIMIENTOS*/
    
    .content-title-registra {
        margin-top: 90PX;
        margin-bottom: 60px;
    }
    /*Section- REGISTRA MOVIMIENTOS*/
    
    .img-movil {
        float: left;
        padding-left: 0PX;
    }
    
    .content-text {
        margin-top: 22px;
    }
    /*Section-ETIQUETA*/
    
    .etiquetas-title {
        padding-top: 37px;
    }
    
    .content-text-etiquetas {
        padding-top: 80PX;
    }
    /*section-funciones*/
    
    .funciones-p {
        margin-top: 50px;
    }
    /*FORM STYLES*/
    
    .content-form.container.row>p {
        font-size: 19px;
        font-family: 'Raleway';
        font-weight: 500;
    }
    
    .div-form {
        width: 477px;
        float: left;
        padding-left: 0px;
    }
    
    .font-form {
        font-weight: 700;
        font-size: 22px;
        font-family: 'Raleway';
        color: rgb(109, 108, 108);
    }
    
    .input-form {
        background-color: #d8d7d7!important;
        border-radius: 0px!important;
    }
    
    .btn-registro {
        border-radius: 20px;
        background-color: #c11d10;
        color: white;
        font-size: 38px;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        font-family: 'Raleway';
    }
    
    .btn-registro:hover {
        background-color: #c65846;
        color: white;
    }
    /*FOOTER STYLES*/
    
    .footer {
        background-color: rgb(0, 0, 0);
        padding-top: 43px;
        padding-bottom: 96px;
    }
    
    .footer-a {
        color: rgb(212, 199, 199);
        font-size: 20px;
        font-family: 'Raleway';
    }
    
    .footer-a:hover {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bold;
        font-family: 'Raleway';
        text-decoration: none;
    }
    
    .footer-a-2 {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: 'Raleway';
    }
    
    .sub-video {
        margin-top: 40px;
        border: 20px solid #c65846;
        background-color: white;
        width: 650px;
        height: 440px;
    }
    
    .video-responsive {
        position: relative;
        padding-bottom: 63.25%;
        /* 16/9 ratio */
        padding-top: 0px;
        /* IE6 workaround*/
        overflow: hidden;
    }
    
    .video-responsive video,
    .video-responsive object,
    .video-responsive embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /*comienzan mediaqueries*/
    
    @media only screen and (max-width: 426px) {
        .content-bienvenida {
            width: auto;
            margin-top: 5px;
            padding-bottom: 31px;
            text-align: center;
        }
        .content-bienvenida-1 {
            margin-left: 8px;
            padding-left: 8px;
        }
        .content-bienvenida-2 {
            float: none;
            display: inline-block;
            height: 197px;
            width: 295px;
            background-position: center center;
            background-size: cover;
            margin-left: 10px;
            margin-right: auto;
        }
        .text-principal {
            font-size: 24px;
        }
        .text-ico-1 {
            font-size: 15px;
        }
        .sub-title-principal {
            font-size: 18px;
            text-align: center;
        }
        .principal-boton {
            font-size: 24px;
            font-weight: 600;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        .principal-boton:hover {
            font-size: 24px;
            font-weight: 600;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        h1 {
            text-align: center;
            font-size: 23px;
            padding-left: 0px;
        }
        .div-form {
            width: 267px;
            float: none;
            padding-left: 20px;
            padding-right: 20px;
        }
        .content-grals {
            margin-left: 2px;
            padding-left: 2px;
        }
        .font-gral {
            font-size: 15px;
        }
        .content-text-etiquetas {
            padding-top: 28PX;
        }
        .btn-registro {
            border-radius: 20px;
            background-color: #c11d10;
            color: white;
            font-size: 24px;
            font-weight: 600;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            padding-left: 20px;
            font-family: 'Raleway';
        }
        .btn-registro:hover {
            font-size: 24px;
        }
        h2 {
            font-size: 22px;
        }
        .footer-a {
            font-size: 15px;
        }
        .footer-a:hover {
            font-size: 15px;
        }
        .footer-a-2 {
            font-size: 15px;
        }
        .footer-a-2:hover {
            font-size: 15px;
        }
        .introduccion-div {
            font-size: 15px;
            padding-top: 40px;
            padding-bottom: 0px;
        }
        .sub-video {
            width: 291px;
            height: 274px;
            border: 5px solid #c65846;
        }
        .beneficios {
            margin-bottom: 10px;
        }
        .content-video {
            height: auto;
        }
        .iconos-redes {
            width: 35px;
        }
    }
    
    @media only screen and (max-width: 769px) {
        .navbar-brand {
            margin-right: 0rem;
        }
        .nav-link {
            font-size: 15px;
        }
        .logo-inicio {
            width: 112px;
        }
        .logo-inicio {
            font-size: 14px;
        }
        .content-bienvenida-1 {
            margin-left: 8px;
            padding-left: 8px;
        }
        .content-bienvenida {
            width: auto;
            margin-top: 5px;
            padding-bottom: 31px;
            text-align: center;
        }
        .content-bienvenida-2 {
            float: none;
            display: inline-block;
            height: 197px;
            width: 295px;
            background-position: center center;
            background-size: cover;
            margin-left: 10px;
            margin-right: auto;
        }
        .introduccion {
            height: 100%;
        }
        .introduccion-div {
            height: 67%;
        }
        .text-principal {
            font-size: 24px;
        }
        /*iconos*/
        .icono-1,
        .icono-2,
        .icono-3,
        .icono-5,
        .icono-6,
        .icono-4 {
            width: 76px;
            height: 69px;
            margin-left: 8px;
            margin-right: 8px;
        }
        .text-ico-1 {
            font-size: 11px;
        }
        .sub-title-principal {
            font-size: 19px;
        }
        .principal-boton {
            font-size: 24px;
        }
        .principal-boton:hover {
            font-size: 24px;
        }
        .div-form {
            width: 267px;
            float: none;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
